@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Poppins:ital,wght@0,100;0,200;1,400&family=Raleway:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Poppins:ital,wght@0,100;0,200;1,400&family=Raleway:ital,wght@0,200;0,600;1,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Indie+Flower&family=Poppins:ital,wght@0,100;0,200;1,400&family=Raleway:ital,wght@0,200;0,600;1,300;1,500&display=swap');

body{
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    background: #f8f9fa;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background: #fffadafb;
    -webkit-box-shadow: -1px 4px 34px 0px rgba(0,0,0,0.26);
-moz-box-shadow: -1px 4px 34px 0px rgba(0,0,0,0.26);
box-shadow: -1px 4px 34px 0px rgba(0,0,0,0.26);
    height: 80px;
    z-index: 1;
}

.divlogo{
    cursor: pointer;
    margin-left: 50px;
}

h1{
    font-size: xxx-large;
    font-family: 'Indie Flower', cursive;
}

.listnav{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-right: 50px;
    cursor: pointer;
}

.navbar{
    margin-right: 20px;
    font-weight: bolder;
}

.carrinho{
    margin-left: 30px;
}

.banner{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #fffadafb;
}

.bannerinfos{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 10%;
    justify-content: center;
}

.imgbanner{
    height: 87%;
    margin-top: 140px;
}

.vc{
    margin: 10px;
    font-weight: 600;
}

.tp{
    font-size: xxx-large;
    margin: 0;
}

.slog{
    color: #035f44;
    font-size: xxx-large;
    margin: 0;
}

.btnbanner{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    background-image: url(./Imagens/Banner/button.png);
    background-size: cover;
    width: 308px;
}

.view{
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    height: 70px;
    color: #035f44;
    font-weight: bolder;
    border: none;
    background: none;
    font-size: medium;
    transition: 0.3s;
}

.view:hover{
    transition: 0.3s;
    transform: scale(1.1);
}

.imgcart{
    height: 30px;
}

.secpromo{
    width: 100%;
    height: 400px;
    background-image: url(./Imagens/Banner/banners.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 55px;
}

.fidelidade{
    color: white;
    width: 473px;
}

.h2fidelidade{
    font-size: xxx-large;
}

.fidelidadediv{
    height: 100%;
}

.fidelidadeimg{
    height: 100%;
    filter: invert(80%);
}

.divbtnfidelidade{
    display: flex;
    justify-content: center;
}

.btnfiel{
    border: none;
    background: beige;
    font-weight: 600;
    width: 100px;
    height: 25px;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 4px;
    transition: 0.3s;
}

.btnfiel:hover{
    transition: 0.3s;
    transform: scale(1.1);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.19);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.19);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.19);
}

.filters{
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.listitens{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    border: solid 1px rgba(0,0,0,0.1);
    padding: 15px;
    border-radius: 8px;
    background: white;
    transition: 0.3s;
}

.listitens:hover{
    transition: 0.3s;
    transform: scale(1.1);
}



.imgfilter{
    height: 80px;
}

.cap{
    font-weight: bolder;
    margin-bottom: 0px;
    background: #014732de;
    color: white;
    text-align: center;
    width: 100px;
    border-radius: 4px;
}

.h2sec{
    font-size: xxx-large;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0px;
}

.pchapeus{
    text-align: center;
}

.section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.divsec{
    display: flex;
    max-width: 90%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.pchapeus{
    font-weight: bold;
    color: gray;
}

.product{
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 15px;
    height: 428px;
    width: 260px;
    margin: 20px;
    padding: 10px;
    transition: 0.3s;
}

.product:hover{
    transition: 0.3s;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.19);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.19);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.19);
}

.figcard{
    height: 252px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #e9ecef;
    border-radius: 15px;
}

.sobreitens{
    margin-top: 10px;
}

.imgcard{
    height: 80%;
    width: 80%;
    object-fit: contain;
}

.figcap{
    color: gray;
    margin-top: 6px;
    font-weight: 600;
}

.nameprice{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.h2item{
    font-size: larger;
    margin-bottom: 0;
}

.priceitem{
    font-family: 'League Spartan', sans-serif;
    text-align: center;
    color: green;
    font-weight: 600;
    font-size: larger;
    margin-left: 10px;
}

.size{
    margin-bottom: 0;
    font-size: larger;
}

.desc{
    margin-top: 5px;
}